// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    flex: 0 0 auto;
}

main {
    min-height: 90vh;
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

